curated_datasets/train_0.56_bad_songs.csv
curated_datasets/train_0.56_lengths.csv
curated_datasets/train_0.56.parquet
curated_datasets/val_0.14_bad_songs.csv
curated_datasets/val_0.14_lengths.csv
curated_datasets/val_0.14.parquet
